@import "./_variables.scss";

.email-container {
  width: 100%;
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  h1,
  p {
    margin: 0;
  }

  a {
    color: #171923;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: $borderLight;
    padding: 1rem;
    text-align: left;
    justify-content: center;

    label {
      margin-top: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }

    .error {
      color: $red;
    }

    button {
      margin-top: 1rem;
      background-color: transparent;
      color: $fontColorLight;
      border: $borderLight;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: $backgroundColorDark;
        color: $fontColorDark;
      }

      &:disabled {
        opacity: 0.7;
        pointer-events: none;
      }
    }
  }

  // DARK THEME
  &.dark {
    color: #faf9f4;
    background-color: #171923;

    a {
      color: #faf9f4;
    }
  }
}

// MEDIA QUERIES!!!

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  .email-container {
    padding: 0 1rem;
    width: calc(100% - 2rem);

    h1 {
      font-size: 1.75rem;
    }

    div {
      width: calc(100% - 2rem);
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
