.error-container {
  width: 100%;
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  h1,
  p {
    margin: 0;
  }

  a {
    color: #171923;
  }

  // DARK THEME
  &.dark {
    color: #faf9f4;
    background-color: #171923;

    a {
      color: #faf9f4;
    }
  }
}
