@import "./_variables.scss";

.post-container {
  padding: 1.5rem 0 1rem 2rem;
  transition: background-color 300ms;
  min-height: 100vh;

  animation: fadeinDesktop 750ms;

  .post-container-mobile {
    display: none;
  }

  .music-container {
    position: relative;

    .spotify-loader {
      position: absolute;
      width: 100%;
      height: 80px;
      border-radius: 12px;
      background-color: #e6a37d;
      // The shine that's going to move across the skeleton:
      background-image: linear-gradient(
        40deg,
        rgba(#fff, 0),
        rgba(#fff, 0.5),
        rgba(#fff, 0)
      );
      background-size: 40px 100%; // width of the shine
      background-repeat: no-repeat; // No need to repeat the shine effect
      background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
      animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
    }

    .spotify-container {
      width: 100%;
      height: 80px;
      margin-bottom: 1.5rem;
    }
  }

  .title-container {
    margin-bottom: 1rem;

    .link {
      display: none;
    }

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 0.75rem;
    }
  }

  .content {
    white-space: pre-line;

    .blog-content-container {
      margin-bottom: 1rem;
      box-sizing: border-box;

      .section-image {
        width: 100%;
        margin-bottom: 1rem;

        img {
          border: $borderLight;
          width: 100%;
        }
      }
    }

    .blog-comment-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      border-top: $borderLight;
      padding: 1rem 0;

      .title {
        font-size: 1rem;
        margin: 0;
      }

      .comments {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;

        .zero-comments {
          margin: 0;
        }

        .comment-container {
          display: flex;
          flex-direction: column;

          .author {
            font-size: 0.75rem;
            font-weight: 700;
          }

          .datePosted {
            color: $fontColorDescription;
            font-size: 0.5rem;
          }

          .comment-content {
            margin: 0;
            font-size: 0.75rem;
            white-space: pre-line;
          }
        }
      }

      .post-comment {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .input-container {
          display: flex;
          flex-direction: column;
          label {
            font-size: 0.75rem;
          }

          input,
          textarea {
            font-family: $globalFontFamily;
            border: $borderLight;
          }

          textarea {
            height: 4rem;
          }
        }

        .comment-post-button {
          font-family: $globalFontFamily;
          border: $borderLight;
          background-color: transparent;
          padding: 0.5rem 0;
          cursor: pointer;

          &:hover {
            color: $fontColorDark;
            background-color: $backgroundColorDark;
          }
        }
      }

      .footer {
        display: none;
      }
    }
  }
}

// DARK MODE!!!
.post-container.dark {
  color: $fontColorDark;

  .title-container {
    .link {
      border: $borderDark;

      &:hover {
        background-color: $backgroundColorLight;
        color: $fontColorLight;
      }
    }
  }

  .content {
    .blog-content-container {
      .section-image {
        img {
          border: $borderDark;
        }
      }
    }

    .blog-comment-container {
      border-top: $borderDark;

      .comments {
        .comment-container {
          .datePosted {
            color: $fontColorDescription;
            font-size: 0.5rem;
          }
        }
      }

      .post-comment {
        .input-container {
          input,
          textarea {
            border: $borderDark;
            background-color: $backgroundColorLight;
          }
        }

        .comment-post-button {
          font-family: $globalFontFamily;
          border: $borderDark;
          background-color: transparent;
          padding: 0.5rem 0;
          cursor: pointer;
          color: $fontColorDark;

          &:hover {
            color: $fontColorLight;
            background-color: $backgroundColorLight;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES!!!

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  .post-container {
    margin: 2rem;
    padding: 0;
    min-height: unset;
    height: calc(100vh - 8.5rem);
    overflow-y: scroll;
    overflow-x: hidden;

    animation: fadeinMobile 750ms;

    .post-container-mobile {
      display: block;
      opacity: 0;
    }

    .title-container {
      .link {
        display: block;
        background-color: transparent;
        font-family: $globalFontFamily;
        border: $borderLight;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;

        &:hover {
          background-color: $backgroundColorDark;
          color: $fontColorDark;
        }
      }

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        color: $fontColorDescription;
      }
    }

    .content {
      flex-direction: column;
      width: 100%;
      flex: 1;
      padding-bottom: 2rem;
      width: 100%;

      .blog-content-container {
        width: 100%;
      }

      .blog-comment-container {
        padding: 2rem 0;
        .title {
          font-size: 1.5rem;
        }

        .comments {
          .comment-container {
            .author {
              font-size: 1rem;
            }

            .datePosted {
              font-size: 0.75rem;
            }

            .comment-content {
              margin-top: 0.25rem;
              font-size: 1rem;
            }
          }
        }

        .footer {
          display: flex;
          margin-top: 2rem;
        }
      }
    }
  }

  .blog-content.mobile {
    height: 100%;
    .post-container {
      height: auto;
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
