// GLOBAL VARIABLES
$globalFontFamily: JetBrains Mono;
$fontColorDescription: #a2a2a2;
$red: #e3655b;
$green: #bef4bd;

// LIGHT VARIABLES
$backgroundColorLight: #fff5e0;
$fontColorLight: #171923;
$fontColorInactiveLight: #7d7d7d;
$borderLight: 1px solid #171923;
$borderThemeLight: 2px solid #171923;

// DARK MODE VARIABLES
$backgroundColorDark: #171923;
$fontColorDark: #fff5e0;
$borderDark: 1px solid #fff5e0;
$borderThemeDark: 2px solid #fff5e0;
