@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;700;800&display=swap");
@import "./styles/_variables.scss";

html {
  background-color: $backgroundColorLight;

  &:has(.dark) {
    background-color: $backgroundColorDark;
  }
}

body {
  margin: 0;
  font-family: $globalFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColorLight;
  transition: background-color 100ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;

  button,
  input,
  textarea {
    font-family: JetBrains Mono;
  }
}

body:has(.dark) {
  background-color: $backgroundColorDark;
}

.container {
  min-height: calc(100vh - 8rem);
  width: 800px;
  transition: background-color 100ms linear;
}

.container.dark {
  color: $fontColorDark;
}

@keyframes fadeinMobile {
  from {
    opacity: 0;
    margin-top: 2rem;
  }
  to {
    opacity: 1;
    margin-top: 0rem;
  }
}

@keyframes fadeinDesktop {
  from {
    opacity: 0;
    margin-top: 2rem;
  }
  to {
    opacity: 1;
    margin-top: 0rem;
  }
}

@keyframes move-text {
  0% {
    bottom: -0.2rem;
    opacity: 1;
  }
  50% {
    bottom: 0.2rem;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes move-item {
  0% {
    bottom: -2rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes move-switch {
  0% {
    top: -10rem;
    opacity: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

// MEDIA QUERIES!!!

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  /* tablets and desktop */
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    min-height: calc(100vh - 4rem);
    width: auto;
    padding: 0 2rem;

    .item-container {
      .item {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        align-items: flex-start;

        .image-container {
          aspect-ratio: 1 / 1;
          width: 100%;
          height: auto;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}
